<h1>Welcome to Sixth Degree!</h1>
<h2>How many friends do YOU have?<h2>
<p>Cool background information about how we are all connected</p>
<form>
	<p class=feild-title>Name<p>
	<p class=field-input><input type="text" name="name"></p>
</form>
