<h1>Welcome to Sixth Degree!</h1>
<h2>How many friends do YOU have?<h2>
<p>Cool background information about how we are all connected</p>

<%= form_tag :controller => 'nodes', :action => 'create' do %>
  <%= label_tag(:name, "Enter your name") %>
  <%= text_field_tag(:name) %>
  <%= submit_tag "Submit" %>
	
<% end %>